
/*---
UI
@group			UIComponents/UI
@desc			...
@todo			Document
@author			Michael Ord
@tags			ui
---
...
*/
.ui
{
	$parent						: &;

	border						: 0;
	padding						: 0;
	line-height					: 1;
	vertical-align				: middle;
	display						: block;
	background					: rgba(0, 0, 0, .15);
	color						: #fff;
	width						: 16px;
	height						: 16px;
	position					: relative;

	.icon
	{
		display					: block;
		width					: 100%;
		height					: 100%;
	}

	&--close,
	&--arrow
	{
		position				: absolute;
		top						: 0;
		right					: 0;
		z-index					: 10;

		.icon
		{
			width				: 12px;
			height				: 12px;
			margin				: 2px;
		}
	}

	&--unstyled
	{
		background				: transparent;
		color					: inherit;
	}
}
